.task-list {
  .title {
    margin-bottom: 0.625rem; /* 10px/16px */
    font-size: 1.25rem; /* 20px/16px */
    color: var(--c-secondary);
  }

  app-task-item + app-task-item {
    margin: 3.125rem; /* 50px/16px */
  }
}
