.task-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .status {
    margin: auto 0.625rem; /* 10px / 16px */
    appearance: none;
    border-radius: 10%;
    border: 0.125rem solid;
    color: var(--c-secondary);

    &:checked::before {
      content: "✓";
      text-align: center;
      font-size: 0.7rem;
      font-weight: 700;
      color: var(--c-secondary);
    }

    &::before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      width: 1rem;
      height: 1rem;
    }
  }

  .title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title,
  .status,
  .deletion {
    cursor: pointer;
  }

  .deletion:after {
    display: inline-block;
    content: "\00d7"; /* displays 'X' */
    font-size: 1.5rem; /* 24px/16px */
  }

  &.done {
    text-decoration: line-through;
    color: var(--c-secondary);

    .deletion {
      color: var(--c-primary);
    }
  }
}
