.task-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .status {
    margin: auto 0.625rem;
    appearance: none;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;

    &:checked::before {
      content: "✓";
      text-align: center;
      font-size: 0.7rem;
      font-weight: 700;
    }

    &::before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      width: 1rem;
      height: 1rem;
    }

    .done {
      border-color: #a9a9a9;
    }
  }

  .title {
    flex-grow: 1;
    .done {
      text-decoration: line-through;
      color: #a9a9a9;
    }
  }

  .deletion:after {
    display: inline-block;
    content: "\00d7"; /* displays 'X' */
    font-size: 1.5rem;
  }
}
