:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;

  .todo-title {
    text-align: center;
    color: var(--c-secondary);
  }

  .todo-text {
    margin-bottom: 1.34rem; /* 21,44px (.todo-title) / 16px */
    border-radius: 0.46875rem; /* 7.5px / 16px */
    padding: 0.625rem; /* 10px / 16px */
    font-size: 1rem;
  }

  .btn-container {
    align-self: center;

    .btn-add {
      background-color: limegreen;
      color: #fff;
      font-size: 1.125rem; /* 18px/16px */
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: 0.125s ease-in;

      &:hover {
        background-color: forestgreen;
      }
    }
  }
}
